body{
    width: 80%;
    margin: auto;
}

header{
    margin-bottom: 20px;
    display: block;
}
#logo{
    width: 20%;
}
ul{
    list-style-type: none;
    margin-top: 40px;
    padding-left: 0;

}
li{
    display: inline;
    padding: 5px;
    text-transform: uppercase;
    font-size: 20px;
    color: #9d9d9d;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

}

.principale{
    
    background-color: #cbbcb6;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 2%;
}
.layover{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2%;
}
.paragrafo1{
    font-size: 40px;
    padding-top: 30%;
    padding-right: 30%;
    color: #fbfaf9;
    padding-left: 50px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    margin-bottom: 0;
}
.paragrafo2{
    color: #fbfaf9;
    padding-bottom: 8%;
    padding-left: 50px;
    padding-right: 30%;
    font-size: 25px;
    font-family: 'Roboto', 'sans-serif';
    margin-top: 0;
    

}

}
.barra{
    height: 80px;
    background-color: #abcfe7;
    margin-bottom: 0;


}
.container{
    height: 500px;
    background-color:  #0087ff;
    margin-top: 0;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.left{
    height: 480px;
    width: 24%;
    background-color:  #abcfe7;
    margin-top: 10px;
    margin-right: 1%; 
    margin-bottom: 10px;
    float: left;
    

}

.middle{
    height: 480px;
    width: 50%;
    background-color: #abcfe7;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
   
}

.right{
    height: 480px;
    width: 24%; 
    background-color:  #abcfe7;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    float: right;
    
    
}

footer{
    height: 70px;
    margin-top: 10px;
    background-color: #8801fe;
}
