body{
    width: 80%;
    margin: auto;
}

header{
    margin-bottom: 20px;
    display: block;
}
#logo{
    width: 20%;
}
ul{
    list-style-type: none;
    margin-top: 40px;
    padding-left: 0;

}
li{
    display: inline;
    padding: 5px;
    text-transform: uppercase;
    font-size: 20px;
    color: #9d9d9d;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    cursor: pointer;
    

}
li:hover{
    text-decoration: underline;
}

.principale{
    
    background-color: #cbbcb6;
    background-image: url(../img/banner-3.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 2px;
}
.layover{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2%;
    width: auto;
}
.paragrafo1{
    font-size: 40px;
    padding-top: 30%;
    padding-right: 30%;
    color: #fbfaf9;
    padding-left: 50px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    margin-bottom: 0;
}
.paragrafo2{
    color: #fbfaf9;
    padding-bottom: 8%;
    padding-left: 50px;
    padding-right: 30%;
    font-size: 25px;
    font-family: 'Roboto', 'sans-serif';
    margin-top: 0;
}

}
.barra{
    height: 80px;
    background-color: #abcfe7;
    margin-bottom: 0;
}
.frase-impatto{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 0;
    
}
.sottotitolo{
    color: #acacac;
    font-family: 'Roboto', 'sans-serif';
    font-size: 30px;
    margin-top: 0;

}


.container::after{
    content: "";
    display: table;
    clear: both;
}

.left{
   
    width: 31%;
    margin-top: 10px; 
    margin-bottom: 10px;
    float: left;
}
.bordo{
    
    filter: brightness(90%);
    
}
.img1{
    border-radius: 5px;
    height: 250px;
    margin-right: 0;
    width: 100%;
    object-fit: cover;
   

}

.titoloimg{
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
}

.testoimg{
    font-family: 'Roboto', 'sans-serif';
    color: #acacac;
    font-weight: bold;
    text-align: left;
    line-height: 30px;

}
.user{
    width: 5%;
    border-radius: 50%;
}
.sottotitolo{
    color: #acacac;
    font-size: 16px;
    vertical-align: top;
    padding: 5px;
}
.username{
    color: black;
    font-size: 16px;
    font-weight: bold;
    vertical-align: top;
    padding: 5px;

}

.middle{
    width: 32%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
   
}


.right{
    
    width: 31%; 
    margin-top: 10px;
    margin-bottom: 10px;
   
    float: right;
    
    
}


footer{
    
    margin-top: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 20px;
    
}
